@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;
@use "../../base/functions" as func;

.comment-info-stripe {
  @include flex(row, space-between);
  gap: v.$block-inner-space;
  @media (width < func.rem(400)) {
    font-size: 0.85rem;
  }

  &__informations-container {
    flex-grow: 1;
    @include flex(row, flex-start, center);
    gap: v.$block-inner-space;
  }

  &__image {
    width: 2rem;
    height: 2rem;
  }

  &__nick {
    font-size: inherit;
    color: c.$dark-blue;
  }

  &__you-text {
    padding: 0.15em 0.5em 0.3em 0.5em;
    background: c.$moderate-blue;
    border-radius: 0.15rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: c.$white;
    translate: -0.5rem;
  }

  &__time-ago {
    color: c.$grayish-blue;
    translate: -0.5rem;
    @include flex(row, center, center);
    text-align: center;
  }

  &__btn-container {
    @include flex();
    gap: v.$block-inner-space;
    @media (width <= func.rem(768)) {
      position: absolute;
      bottom: calc(v.$block-inner-space * 1.5);
      right: calc(v.$block-inner-space * 1.5);
      translate: 0 calc(func.rem(8) * -1);
    }
  }
}
