@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;

.delete-modal {
  border: none;
  border-radius: v.$block-border-radius;
  padding: calc(v.$block-inner-space * 1.5);
  @media (width > func.rem(768)) {
    max-width: 35ch;
  }

  &__header {
    font-size: 1.35rem;
    font-weight: 500;
    color: c.$dark-blue;
  }

  &__text {
    margin-block: v.$block-inner-space;
    color: c.$grayish-blue;
    line-height: 1.5em;
  }

  &__btn-wrapper {
    @include flex(row, space-between);
    gap: 0.5rem;
    & > * {
      width: 100%;
    }
  }

  &__btn {
    padding-block: 0.75em;
    border: none;
    border-radius: v.$block-border-radius;
    font: inherit;
    color: c.$white;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: v.$main-transition;
    &:where(:hover, :focus-visible) {
      opacity: 0.75;
    }

    &--cancel {
      background: c.$grayish-blue;
    }
    &--delete {
      background: c.$soft-red;
    }
  }

  &::backdrop {
    background: hsl(0 0% 0% / 0.4);
  }
}
