@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;
@use "../../base/functions" as func;

.comment-block {
  @include flex(row, space-between);
  gap: calc(v.$block-inner-space * 1.5);
  padding: calc(v.$block-inner-space * 1.5);
  background: c.$white;
  border-radius: v.$block-border-radius;
  @media (width <= func.rem(768)) {
    position: relative;
    @include flex(column-reverse, flex-start, flex-start);
  }

  &__text-container {
    flex-grow: 1;
    width: 100%;
    @include flex(column);
    gap: v.$block-inner-space;
  }

  &__comment-text {
    color: c.$grayish-blue;
    line-height: 1.4em;
  }

  &__replyingTo-text {
    color: c.$moderate-blue;
    font-weight: 500;
  }
}
